--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu

streamlit==1.54.0
altair==5.5.0

numpy<2
pandas<3


scikit-learn
streamlit
opencv-python-headless
moviepy
librosa
soundfile
matplotlib
tqdm
